# {{ ansible_managed }}

[mysqld]
server-id = {{ mysql_server_id }}
auto_increment_offset = {{ mysql_auto_increment_offset }}
auto_increment_increment = 2
replicate-ignore-db = mysql
binlog-ignore-db = mysql
log-slave-updates

log-bin = {{ mysql_replogdir }}/master-log-bin
relay-log = {{ mysql_replogdir }}/slave-log-relay